.styled-table {
  border-collapse: collapse;
  /* margin: 25px; */
  font-size: 4em;
  font-family: sans-serif;
  min-width: 00px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0px auto;
}
.styled-table thead tr {
  background-color: #12447e;
  color: #6acad4;
  text-align: center;
  height: 50px;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 5px solid #2b292991;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 5px solid #243B55;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #9d9522;
}
